{% extends "_includes/default.njk" %}

{% block title %}GOKREW{% endblock %}

{% block content %}

  
  <section class="inset-0 md:flex flex-col justify-center items-center">

    <div class="relative max-w-4xl my-8 px-8 md:px-12">

      <h2 class="text-4xl md:text-5xl font-display font-bold leading-tight mb-4 text-change">General provisions of the "GoKrew" mobile application</h2>
        <h3 class="text-2xl md:text-4xl font-display font-bold leading-tight mt-4 mb-4 text-blue-600">&sect;1 General provisions</h3>
    <ol class="list-decimal font-serif text-lg pl-12">
      <li>This Privacy Policy (&bdquo;Privacy Policy&rdquo;) states how Ultrakrew Association collects, processes and stores data of &rdquo;GoKrew&rdquo; mobile application ( &bdquo;the App&rdquo;) users (known as &bdquo;the User&rdquo;).</li>
      <li>The User accepts that Ultrakrew Association, KRS 0000700359, 1c flat 8 Gen. Kazimierz Sosnkowski Street, 80-041 Gdańsk, Poland (&bdquo;Ultrakrew&rdquo;) is data administrator.</li>
      <li>The User is every person using the App in accordance with application&rsquo;s Terms of Use.</li>
      <li>All data gathered by Ultrakrew is used in accordance with Privacy Policy regulations and with consent of the User.</li>
      <li>Using the App means accepting Privacy Policy and Terms of Use of the App.</li>
      <li>Terms of Use is an agreement between the User and Ultrakrew, available at www.ultrakrew.pl/aplikacja, based on which the application functions.</li>
      <li>The User accepts all the rules and regulations in Terms of Use and Privacy Policy.</li>
      <li>All the collected data is stored by Firebase service.</li>
    </ol>
    <h3 class="text-2xl md:text-4xl font-display font-bold leading-tight mt-4 mb-4 text-blue-600">&sect;2 Automatic data collection</h3>
    <ol class="list-decimal font-serif text-lg pl-12">
      <li>1. No data is being gathered by Ultrakrew without User consent apart from anonymous, non-personal data. Such data is automatically collected (known as &bdquo;automatically collected data&rdquo;).</li>
      <li>The Used cannot be identified by automatically collected data.<br />3. Automatically collected data is to enhance the quality of App usage especially in case of App error.<br />4. Automatically collected data cannot be deleted or altered.</li>
    </ol>
    <h3 class="text-2xl md:text-4xl font-display font-bold leading-tight mt-4 mb-4 text-blue-600">&sect;3 User personal data</h3>
    <ol class="list-decimal font-serif text-lg pl-12">
      <li>Ultrakrew gathers User personal data (known as &bdquo;personal data&rdquo;) while registering in and using the App. Ultrakrew may require giving certain personal data and has the right not to ask for other personal data.</li>
      <li>Personal data include: name, surname, email address, individual User ID, sex, account password, date of birth.</li>
    </ol>
    <h3 class="text-2xl md:text-4xl font-display font-bold leading-tight mt-4 mb-4 text-blue-600">&sect;4 Training data</h3>
    <ol class="list-decimal font-serif text-lg pl-12">
      <li>Whilst using the App in accordance with the Terms of Use, Ultrakrew gathers training data (&ldquo;training data&rdquo;).</li>
      <li>Training data include: distance ( km), average pace (kph), starting and finishing date, length of training (in minutes),name of training, location data ( longitude, latitude, altitude).</li>
      <li>Accuracy of training data depends on User&rsquo;s device on which the App is installed.</li>
      <li>Training data is assigned to individual User ID.</li>
      <li>Ultrakrew is able to match training data with User personal data. The aim of that match is described in paragraph &nbsp;5 of Privacy Policy and in Terms of Use.</li>
    </ol>
    <h3 class="text-2xl md:text-4xl font-display font-bold leading-tight mt-4 mb-4 text-blue-600">&sect;5 Gathering background data</h3>
    <ol class="list-decimal font-serif text-lg pl-12">
      <li>Gathering background data means collecting data while the App is off.</li>
      <li>Background training data is gathered while the App is active. The User agrees to collecting GPS location data in the background by clicking &ldquo;start training&rdquo; button in the App.</li>
      <li>GPS location data is delivered to the App by the User&rsquo;s phone system. Ultrakrew has no influence on the accuracy of this data.</li>
      <li>GPS location data gathered in the background is used by Ultrakrew in accordance with Privacy Policy and the Terms of Use.</li>
      <li>The User is informed about gathering of background data by the App system notification.</li>
      <li>Gathering GPS location data in the background is enabled by User&rsquo;s consent to the App access to location. Permission for access to location is required for correct functioning of the App.</li>
      <li>Ultrakrew gathers GPS location data in the background only with consent of the User and till the end of the training session in the App.</li>
    </ol>
    <h3 class="text-2xl md:text-4xl font-display font-bold leading-tight mt-4 mb-4 text-blue-600">&sect;6 Personal data and training data processing</h3>
    <ol class="list-decimal font-serif text-lg pl-12">
      <li>Collected personal data and training data are used by Ultrakrew in connection with providing the Users with the App services.</li>
      <li>All the personal data and training data are accessed by the User through the App.</li>
    </ol>
    <h3 class="text-2xl md:text-4xl font-display font-bold leading-tight mt-4 mb-4 text-blue-600">&sect;7 Rights and obligations of Ultrakrew</h3>
    <ol class="list-decimal font-serif text-lg pl-12">
      <li>Ultrakrew is committed to process User personal data with appropriate protection and privacy of the User, in accordance with Privacy Policy and the Terms of Use and with compliance to Personal Data Protection Act of 29 August 1997 and Offering Services in Electronic Form Act of 18 July 2002.</li>
      <li>Ultrakrew guarantees that collected personal data and training data are inaccessible for unauthorised third parties.</li>
      <li>User personal data and training data will be stored by Ultrakrew till it is deleted by the User or Ultrakrew &ndash; giving the User a prior notice of it.</li>
      <li>Ultrakrew has the right to share training data in order to promote the App, leaving out individual User ID.</li>
    </ol>
    <h3 class="text-2xl md:text-4xl font-display font-bold leading-tight mt-4 mb-4 text-blue-600">&sect;8 Rights and obligations of the User</h3>
    <ol class="list-decimal font-serif text-lg pl-12">
      <li>The User has the right to access to his/her personal data and training data collected by the App.</li>
      <li>The User may modify or update certain personal data. The User cannot modify or update data gathered during training.</li>
      <li>The User may delete any saved data: personal data and training data, deleting App account in accordance with the Terms of Use.</li>
      <li>It is impossible to delete only personal data or training data solely.</li>
      <li>In case of deleting personal and training data collected by Ultrakrew, the User loses the right and ability to use the App.</li>
      <li>Ultrakrew has the right to modify Privacy Policy, informing the User via email. The User has the right not to accept the alterations, in that case he/she is obliged to remove the App from his/her device and delete account in accordance with the Terms of Use regulations.</li>
      <li>It is not possible to retrieve personal data and training data after deleting an account as they are permanently removed.</li>
    </ol>

    </div>

  </section>
{% endblock %}