<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}Does it work?{% endblock %}
    </title>
    <meta charset="UTF-8"/>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap" rel="stylesheet"> 
    {# <link rel="stylesheet" href="{{ '/style.css?v=' | url }}{% version %}"/> #}
    <link rel="stylesheet" href="style.css?v={% version %}"/>
    {% block head %}{% endblock %}
    <script src="{{ '/js/alpine.js?v=' | url }}{% version %}"></script>
  </head>

  {# <header>
    {# <a href="{{ '/' | url }}" class="link--home">My Blog</a>
    <a href="{{ 'about' | url }}" class="link--about">About</a> #}
  {# </header> #}

  <body class="overflow-x-hidden">
    {% block content %}
      {{ content | safe }}
    {% endblock %}

    <footer class="flex justify-center">
      <p class="text-xs uppercase p-2">Ultrakrew © 2016-2020 | © Gokrew 2020 | Site by <a class="text-gray-600  underline	" href="https://marcinchelminiak.pl" target="_blank">krófka design</a></p>
    </footer>

    <script type="text/javascript">
      {# document.addEventListener("mousemove", parallax);
      console.log('dupa');
      function parallax (e){
        document.querySelectorAll(".object").forEach(function(move){
          var moving_value = move.getAttribute("data-value");
          var x  = (e.clientX * moving_value) / 250;
          var y = (e.clientY * moving_value) / 250;
          move.style.transform = "translateX("+ x +"px) translateY(" + y + "px)";
          console.log('dupa-2');
        });
      } #}

      var animateHTML = function() {
        var elems,
            windowHeight
        
        var init = function() {
          elems = document.getElementsByClassName("opacity-0");
          windowHeight = window.innerHeight;
          _addEventHandlers();
        }
        
        var _addEventHandlers = function() {
            window.addEventListener("scroll", _checkPosition);
            window.addEventListener("resize", init)
        }
        var _checkPosition = function() {
          for ( var i = 0; i < elems.length; i++ ) {
            var posFromTop = elems[i].getBoundingClientRect().top;
            if ( posFromTop <= windowHeight / 2) { 
              elems[i].className = elems[i].className.replace( "opacity-0", "fade-in" );
            }
          }    
        }
        return {
          init: init
        }
      }
      animateHTML().init();

    </script>

  </body>
</html>