@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .change {
    color: black;
  }
  .fade-in {
    animation: fade-in 0.7s;
  }
  @keyframes fade-in {
    0% {
      opacity: 0; 
      transform: translate(0px, 50px);
    }
    100% {
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }
}
